[submodule "Desktop/projetosweb/Desktop/projetosweb/trabalho-pr-tico-semana-02-SofiaSousa1506"]
	path = Desktop/projetosweb/Desktop/projetosweb/trabalho-pr-tico-semana-02-SofiaSousa1506
	url = https://github.com/ICEI-DIW/trabalho-pr-tico-semana-02-SofiaSousa1506.git
